<div class="plate-tabs-container">
  <button mat-raised-button color="primary" (click)="addTab()">+ Add Tab</button>
  <div class="tabs-list">
    <div
      class="tab-item"
      *ngFor="let tab of getTabs(); let i = index"
      (click)="switchTab(tab)"
      [class.selected]="tab.isSelected"
    >
      <span>{{ tab.tabName }}</span>
      <button mat-raised-button color="warn" (click)="removeTab(i); $event.stopPropagation()">
        Remove
      </button>
      <dialog open #dialog>
        <select>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
          <option>F</option>
        </select>
        <button (click)="dialog.close()">Close</button>
      </dialog>
    </div>
  </div>
</div>
